<!DOCTYPE html>

<html>

<body>
    <br><br>

    <div class=" jumbotron text-center" ng-show="main.loading">
      <span class="glyphicon glyphicon-repeat spinner"></span>
      <p>Loading...</p>
    </div>

    <br>

    <!-- ng-show causes the alert messages to show only if there is one -->
    <div class="row show-hide-message" ng-show="main.successMsg">
      <!-- Angular passes controllers to the html page using {{ }} -->
      <div class="alert alert-success">{{ main.successMsg }}</div>
    </div>

    <div class="row show-hide-message" ng-show="main.errorMsg">
      <div class="alert alert-danger">{{ main.errorMsg }}</div>
    </div>


    <div class="container" style="background-color:rgb(250,250,250); padding-left: 20px; padding-right: 20px; padding-top: 20px;">

      <div class="page-header">
        <!-- <h1> Hello {{ main.username }}. Welcome to the home page.</h1> -->

        <h1>
          News Feed
          <button type="button" style="float: right;" ng-click="main.showCreatePostModal(); main.clearPostText(); postForm.$setPristine();" onclick="postForm.reset(); showImagePreview();" class="btn btn-success btn-s" ng-show="main.isLoggedIn"><span class="glyphicon glyphicon-plus"></span> Post</button>

        </h1>

        <!-- Create Post Modal -->
        <div class="modal fade" id="createPostModal" role="dialog">
            <div class="modal-dialog modal-lg">
                  <div class="modal-content" style="background-color:rgb(250,250,250)">
                      <div class="modal-header">
                          <button type="button" class="close" ng-click="main.clearPostText(); postForm.$setPristine();" onclick="postForm.reset(); showImagePreview();" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title"><center>{{ main.postModalHeader }}</center></h4>
                      </div>
                      <div class="modal-body">
                          <form name="postForm" ng-submit="main.createPost(createPostData, postForm.$valid);" class="form-vertical" novalidate>
                              <div style="padding-left: 20px; padding-right: 20px; padding-top: 20px;" class=form-group>

                                  <label>Title<span style="color: red;">*</span></label>
                                  <div ng-class="{ 'has-success':(postForm.postTitle.$valid && !postForm.postTitle.$pristine), 'has-error':(!postForm.postTitle.$valid && !postForm.postTitle.$pristine)
                                                    || (!postForm.postTitle.$valid && postTitle.$submitted) }">
                                    <input class="form-control input-block-level" type="text" ng-model="main.createPostData.postTitle" name="postTitle" minlength="2" maxlength="70" ng-pattern="/([\s\S]{2,70})+/" ng-minLength="2" ng-maxLength="70" required> <!-- form-control input-block-level stretches input field to the end of div container -->
                                    <p class="help-block" ng-show="(!postForm.postTitle.$pristine && postForm.postTitle.$error.required) || (postForm.$submitted && postForm.postTitle.$error.required)">This field is required</p>
                                    <ul class="help-block" ng-show="(!postForm.postTitle.$pristine && postForm.postTitle.$error.pattern) || (!postForm.postTitle.$pristine && postForm.postTitle.$error.minlength) ||
                                        (!postForm.postTitle.$pristine && postForm.postTitle.$error.maxlength) ">
                                        <li>Title must be between 2 and 70 characters</li>
                                    </ul>
                                  </div> <!-- /ng-class div  -->

                                  <br>

                                  <label>Text</label>
                                  <div class="form-group">
                                    <textarea id="postDescription" class="form-control" ng-model="main.createPostData.postDescription" name="postDescription" rows="3" style="margin-top: 0px; margin-bottom: 0px; height: 180px;" maxlength="1000"></textarea>
                                  </div>

                                  <br>


                                  <label>File input</label>
                                  <div class="form-group">
                                    <input type="file" class="form-control-file" id="postImg" file-input ng-model="ngPostImg" name="PostImg" onchange="showImagePreview();" accept=".jpg, .jpeg, .png" aria-describedby="fileHelp">
                                    <small id="fileHelp" class="form-text text-muted">Only images with .png, .jpg, or .jpeg format will be accepted.</small>
                                  </div>

<!--
                                  <h2>Files</h2>
                                  <div ng-repeat="file in fileArray">
                                    {{file.name}}
                                  </div>

                                  <br>
-->
                                  <img class="postImgThumbnail" id="postImgThumbnail" src="" alt="No image selected for preview...">

                                  <br>
                                  <br>

                                  <button type="submit" class="btn btn-primary" ng-click="main.createPost(createPostData, postForm.$valid, ngPostImg);" data-dismiss="modal">Submit</button>
                                  <button type="button" class="btn btn-secondary" ng-click="main.clearPostText(); postForm.$setPristine();" onclick="postForm.reset(); showImagePreview();" data-dismiss="modal">Cancel</button>
                              </div>      <!-- /style padding div -->
                          </form>
                      </div>            <!-- /Modal Body -->
                  </div>                <!-- /Modal Content -->
            </div>                      <!-- Modal Dialog model-lg -->
        </div>                          <!-- Modal fade -->
      </div>                            <!--  Page Header -->

      <!-- test bootsnipp -->

        <div class="row" style="padding-left: 20px; padding-right: 20px;">
          <div class="row">
              <div class="col-xs-12 col-sm-3 col-md-3">
                  <a href="#">
                      <img src="http://wanderluxe.theluxenomad.com/wp-content/uploads/2014/10/http-www.urchinbali.comgallery.jpg" class="img-responsive img-box img-thumbnail">
                  </a>
              </div>
              <div class="col-xs-12 col-sm-9 col-md-9">
                  <div class="list-group">
                      <div class="list-group-item">
                          <div class="row-picture">
                              <a href="#" title="sintret">
                                  <img class="circle img-thumbnail img-box" src="https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="sintret">
                              </a>
                          </div>
                          <div class="row-content">
                              <div>
                                      Username
                              </div>
                              <small>
                                  <i class="glyphicon glyphicon-time"></i> 3 days ago</a></span>
                                  <br>
                                  <span ><i class="glyphicon glyphicon-thumbs-up"></i> 13 Likes </span> |
                                  <span ><i class="glyphicon glyphicon-comment"></i> 8 Comments </span>
                              </small>
                          </div>
                      </div>
                  </div>
                  <h4><a href="#">5 of Bali’s Spanking New Haunts - WanderLuxe Magazine</a></h4>
                  <p>Naturally, we know where Bali's newest restaurants are and what to order, so give that private chef a rest and check out these aaaa aaaaa aaaaa spanking new haunts.</p>
                  We know that there’s tons to noms in Bali, but what’s the best and where are they? Here are our top 8 Seminyak Bali restaurants to visit.
              </div>
          </div>
          <hr>

        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <a href="#">
                    <img src="http://wanderluxe.theluxenomad.com/wp-content/uploads/2014/09/http-barbacoabali.com_.jpg" class="img-responsive img-box img-thumbnail">
                </a>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9">
                <h4><a href="#">Top 8 Best Bali Restaurants - WanderLuxe Magazine</a></h4>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9" style="height: 140px;">
                  <div class="alignBottom">
                      <div>
                        <p>
                          We know that there’s tons to noms in Bali, but what’s the best and where are they? Here are our top 8 Seminyak Bali restaurants to visit.
                      </p>
                      </div>
                      <div>
                        <p><small>
                              <i class="glyphicon glyphicon-user"></i> By Edward |
                              <i class="glyphicon glyphicon-calendar"></i> Sept. 2nd, 2018 |
                              <i class="glyphicon glyphicon-thumbs-up"></i> 13 Likes |
                              <i class="glyphicon glyphicon-comment"></i> 8 Comments
                          </small>
                       </p>
                      </div>
                </div>
            </div>
        </div>
        <hr>
        </div>

      <!-- END OF test bootsnipp data:image/png;base64,{{post.postImg.data}}  //   onerror="this.src='https://cdn.dribbble.com/users/476251/screenshots/2619255/attachments/523315/placeholder.png';"-->
      <div class="row" style="padding-left: 20px; padding-right: 20px;" ng-repeat="post in home.posts">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <a href="#">
                    <img src="{{post.postImgUrl}}" alt="Image not found" class="img-responsive img-box img-thumbnail"/> <!-- /app/uploads/test.png works -->
                    <!--<img src="/app/uploads/test.png" alt="Image not found" class="img-responsive img-box img-thumbnail"/> -->
                </a>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9">
                <h4><a href="#">{{ post.title }}</a></h4>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9" style="height: 140px;">
                  <div class="alignBottom">
                      <div>
                        <p>
                          {{ post.postDescription }}
                      </p>
                      </div>
                      <div>
                        <p><small>
                              <i class="glyphicon glyphicon-user"></i> By {{ post.postAuthor }} |
                              <i class="glyphicon glyphicon-calendar"></i> {{ post.date }} |
                              <i class="glyphicon glyphicon-thumbs-up"></i> {{ post.upvotes }} Likes |
                              <i class="glyphicon glyphicon-comment"></i> 8 Comments
                          </small>
                       </p>
                      </div>
                </div>
            </div>

        </div>
        <hr>

      </div>


    </div>                              <!-- Style Background -->

</body>
</html>
