.showmore {
  display: inline;
}

.rowBottomBorder {
  border-bottom:1pt solid Gainsboro;
}

/* Non resizable text area*/

textarea[name=postDescription] { /* For textarea with name=noSizeTextArea */
  resize: none;
}

/* END OF Non resizable text area */

/*  Post Modal Image Preview */
.postImgThumbnail {
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 300px;
}

/* END OF Post Modal Image Preview */


/* Back to top CSS */
.go-top {
	position: fixed;
	bottom: 2em;
	right: 2em;
	text-decoration: none;
	color: white;
	background-color: rgba(66, 139, 202, 0.95);
  /*
	background-color: rgba(0, 0, 0, 0.3);
  */
	font-size: 15px;
	padding: 1em;
	display: none;
}

.go-top:hover {
  color: white;
	background-color: rgb(66, 139, 202);
  text-decoration: none;
}

/* END OF Back to top CSS */

/* LOGOUT CSS */

.loading {
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  text-transform:uppercase;

  width:250px;
  text-align:center;
  line-height:50px;

  position:absolute;
  left:0;right:0;top:50%;
  margin:auto;
  transform:translateY(-50%);
}

.loading span {
  position:relative;
  z-index:999;
  color:#fff;
}
.loading:before {
  content:'';
  background:#61bdb6;
  width:230px;
  height:36px;
  display:block;
  position:absolute;
  top:0;left:0;right:0;bottom:0;
  margin:auto;

  animation:2s loadingBefore infinite ease-in-out;
}

@keyframes loadingBefore {
  0%   {transform:translateX(-14px);}
  50%  {transform:translateX(14px);}
  100% {transform:translateX(-14px);}
}


.loading:after {
  content:'';
  background:#ff3600;
  width:14px;
  height:60px;
  display:block;
  position:absolute;
  top:0;left:0;right:0;bottom:0;
  margin:auto;
  opacity:.5;

  animation:2s loadingAfter infinite ease-in-out;
}

@keyframes loadingAfter {
  0%   {transform:translateX(-50px);}
  50%  {transform:translateX(50px);}
  100% {transform:translateX(-50px);}
}

/* END OF LOGOUT CSS */
